.rw-conversation-container .rw-messages-container {
    background-color: transparent;
}

.rw-conversation-container .rw-header-buttons {
    display: none;
}

.rw-conversation-container .rw-response {
    border: 1px solid black;
}

html {
    height: 100%;
}
  body {
    min-height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
}

#webchat {
    height: 100%;
}